<li class="feature <%= feature['status'] %>">
  <div class="collapsible-header <%= options[:color] %> lighten-1 waves-effect waves-light">
    <i class="material-icons">featured_play_list</i>
    <b><%= feature['keyword'] %></b>&nbsp;<%= feature['name'] %>&nbsp;(<%= duration(feature['duration']) %>)
  </div>
  <div class="<%= options[:color] %> lighten-1 feaDes">
    <% if feature['description'].length>5 %>
      <% i =1 %>
      <% feature_description = feature['description'].gsub("\n\n","\n") %>
      <% fst_6 = feature_description[0..5] %>
      <%if fst_6.include?("*") %>
        <% str_pos = fst_6.index("*") %>
      <% else %>
        <% str_pos = 99 %>
      <% end %>
      <% spc_pos = fst_6.index(" ") %>
      <% if str_pos == 0 %>
        <% feature_description = feature_description.gsub("*","  *")%>
      <% end%>
      <% if str_pos == 4 %>
        <% feature_description = feature_description.gsub("    *","  *")%>
      <% end%>
      <% if str_pos == 99 %>
        <% feature_description = feature_description.gsub("    ","  *")%>
      <% end%>


      <% feature_description.split("\n").each do |ea| %>
        <%spcNum = ea[0..3].count(" ")%>
            <% if spcNum>3 %>
                    <%= "<br>#{ea.gsub("  ","&nbsp;&nbsp;&nbsp;&nbsp;")}" %>
            <% elsif spcNum == 3 %>
                    <%= "<br>#{ea.gsub("  ","&nbsp;&nbsp;&nbsp;&nbsp;#{i}.").gsub("*","")}" %>
                    <% i =i+1 %>
            <% else spcNum < 3%>
                    <%if spcNum < 2 %>
                      <%= "<br>#{ea.gsub("* ","&nbsp;&nbsp;&nbsp;&nbsp;#{i}.")}" %>
                    <% end %>
                    <%= "<br>#{ea.gsub("  ","&nbsp;&nbsp;&nbsp;&nbsp;#{i}.")}" %>
                    <% i =i+1 %>
            <% end%>
        <% end %>
    <% end %>
  </div>
  
  <div class="collapsible-body <%= options[:color] %> lighten-4">
    <div class="collection scenarioList <%= options[:color] %>">
      <% feature['elements'].each_with_index do |scenario, s| %>
      <% if scenario['status']=="passed" %>
        <% icnName="done_all" %>
      <% elsif scenario['status']=="failed" %>
        <% icnName="highlight_off" %>
      <% end %>
        <% if scenario['comments'].to_s.include?("Risk Scenario")%>          
            <a class="collection-item scenario modal-trigger waves-effect waves-light white-text risk" href="#<%= "#{fid}s#{s}" %>">
            <div class="riskdiv">
              <%begin%>
                <% comments=scenario['comments'][0]['value'].gsub("# ","").split(":")%>
                <i class="material-icons"><%=icnName%></i>&nbsp;<b><%= comments[0]%></b><%= comments[1]%>&nbsp;(<%= duration(scenario['duration'])%>)
              <%rescue%>
                <% sleep 0.001 %>
              <% end %>
            </div>
            </a>
        <a class="collection-item scenario modal-trigger waves-effect waves-light white-text <%= scenario['status'] %>" href="#<%= "#{fid}s#{s}" %>"> 
          <b><%= "Test "+scenario['keyword'] %></b> <%= scenario['name'] %>&nbsp;(<%= duration(scenario['duration'])%>)
        </a>
        <% else %>
          <a class="collection-item scenario modal-trigger waves-effect waves-light white-text <%= scenario['status'] %>" href="#<%= "#{fid}s#{s}" %>">
            <%# <%= scenario['status'] %>
            <b><%= scenario['keyword'] %></b> <%= scenario['name'] %>&nbsp;(<%= duration(scenario['duration'])%>)
          </a>
        <% end %>
      <% end %>
    </div>
  </div>
</li>
<hr class="line">
