<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title><%= options[:report_title] %></title>

  <link rel="icon" href="https://reportbuilder.rajatthareja.com/rb.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" media="screen,projection"/>
  <link href="https://cdn.rawgit.com/rajatthareja/ReportBuilder/v1.9/css/report.builder.min.css" rel="stylesheet">
  <script>
      function go2Fea(ele0) {
        var id = ele0.getAttribute("href").replace("#","");
        ele=document.getElementById(id);
        ele.closest(".group").classList.add("active");
        ele.closest(".group").children[0].classList.add("active");
        ele.closest(".collapsible-body").setAttribute("style","display: block;");
        document.querySelector('a[href$="#features"]').click();
        ele.scrollIntoView();
        ele.parentNode.style.border="3px solid yellow";
        setTimeout(() => {
          ele.parentNode.style.border="0";
        }, 20000);
      }
  </script>
<style>
div.feaDes {
  font-size:90%;
  margin:-20px 0 0 0;
  border-width:0;
  padding:5px 0 5px 84px;
  opacity:0.8; }
.line {
  width: 10%;
  border-width:0;
  height: 1px;
  opacity: 0.1;
}
.risk {
  color: #ffe800 !important;
}

.no-risk {
  color: #fff;

}
td > b[href^="#"] {
 cursor: pointer;
}
#t{
  font-size: 90%;
}
#tid {
  color: #ccc;
}

#gp {
  font-size: 150%;
}

.zoom {
  border: 0.2px solid white;
  vertical-align: middle;
  transition: transform .2s;
  width: 32px;
  margin: 0 auto;
}
.zoom:hover {
  transform-origin: 50% 5px;
  -ms-transform: scale(4);
  -webkit-transform: scale(4);
  transform: scale(4);
}
</style>
  <% if options[:additional_css] %>
      <% if options[:additional_css] =~ /^http(|s):\/\/.*\.css$/ %>
          <link rel="stylesheet" href="<%= options[:additional_css] %>" media="all"/>
      <% else %>
          <style type="text/css">
            <%= options[:additional_css]%>
          </style>
      <% end %>
  <% end %>
</head>
