<li class="collection-item step <%= step['status'] %>">
  <% if step['before'] %>
      <% step['before'].each do |hook| %>
          <%= get('hook').result(binding) %>
      <% end %>
  <% end %>
<%# if !step['after'].to_s.include?("png") and !scenario['after'][0]["embeddings"].to_s.include?("png") %>


<%if step['result']['status'] == "passed" %>
    <%imgUrl = step['after'][0]["embeddings"][0]['mime_type'].gsub(".png",".webp").gsub("//","/").gsub("D:/","")%>
<%elsif step['result']['status'] == "failed"%>
    <%imgUrl = scenario['after'][0]["embeddings"][0]['mime_type'].gsub(".png",".webp").gsub("//","/").gsub("D:/","")%>
<%else%>
    <%imgUrl = "imgs/skipped.webp"%>
<%end%>
<%t0=(Time.at(imgUrl.split("/").last.gsub(".png","").gsub("-",".").to_f)).utc.iso8601(1)%>
<%t0="This step is skipped" if imgUrl.include?("skipped.webp")%>

<% if feature['tags'].to_s.include?("@api/") || feature['tags'].to_s.include?("@manualtest") %>
    <b><%= step['keyword'] %></b> <%= step['name'] %> <%#=duration(step['duration'])%><span id="t">(<%=t0%>)</span>
<% else %>
    <b><%= step['keyword'] %></b> <%= step['name'] %> <%#=duration(step['duration'])%><span id="t">(<%=t0%>)</span>&nbsp;<a href=<%="#{imgUrl}"%> target="_blank"><img class = "zoom" src=<%="#{imgUrl}"%> loading="lazy"></a>
<% end %>

  <% if step['doc_string'] %>
     <%= '<br/><pre>' + ERB::Util.html_escape(step['doc_string']['value']) + '</pre>' %>
  <% end %>

  <% if step['rows'] %>
      <% step['rows'].each do |row| %>
          <%= '<br/>| ' %>
          <% row['cells'].each do |cell| %>
              <%= cell + ' | ' %>
          <% end %>
      <% end %>
  <% end %>

  <%#step part as hook%>
  <% hook = step %>
  <%= get('hook').result(binding) %>

  <% if step['after'] %>
      <% step['after'].each do |hook| %>
          <%= get('hook').result(binding) %>
      <% end %>
  <% end %>
</li>
