<td class="hide-on-small-only">
  <b onclick="go2Fea(this)" href="#<%=feature['rptid']%>"><%= feature['name'] %></b>
</td>

<td class="hoverable modal-trigger white-text" data-target="<%= sid %>">
  <%= scenario['name'] %>
</td>

<td class="hide">
  <% if scenario['tags'] %>
      <% scenario['tags'].each do |tag| %>
          <%= tag['name'] + '. ' %>
      <% end %>
  <% end %>
</td>

<td class="uppercase">
  <%= scenario['status'] %>
</td>

<% if options[:tag_filter] %>
    <td class="hide-on-small-only">
      <% scenario['tags'].each do |tag| %>
          <% if tag['name'].match(/#{options[:tag_filter]}/) %>
              <%= tag['name'] %>
          <% end %>
      <% end %>
    </td>
<% end %>

<td class="hide-on-small-only">
  <% if scenario['error'] %>
      <%= scenario['error'] %>
  <% end %>
</td>
